registry=https://nexus.riaint.ee/repository/npm-public/
@ria:registry=https://nexus.riaint.ee/repository/riigiportaal-npm-local/
@notify:registry=https://nexus.riaint.ee/repository/notify-npm-local/
legacy-peer-deps=true
